body {
  background-color: white;
  color: black;
}
.FooterSection{
  background-image: url("https://cdn.pic.in.th/file/picinth/Path-2.png");
}
.HeaderSection{
  background-image: url("https://cdn.pic.in.th/file/picinth/headerbg.png");
}