/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Improve readability */
body {
  line-height: 1.6;
}

/* Set a nice background color and font color */
body {
  background-color: #f5f5f5;
  color: #333;
}

/* Header styles */
.HeaderSection {
  background-image: url("https://cdn.pic.in.th/file/picinth/headerbg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  width: 100%;
}

.HeaderTitle {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Footer styles */
.FooterSection {
  background-image: url("https://cdn.pic.in.th/file/picinth/Path-2.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
}

.FooterTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.FooterContact {
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Profile picture styles */
.profilePic {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Center the profile and skill sections */
.LandBody {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* Data and Skill profile styles */
.DataProfile,
.SkillProfile {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  max-width: 1000px;
}

.DataProfile {
  flex: 1;
}

.SkillProfile {
  flex: 0 0 30%;
}

/* Social media icon styles */
.ImageProfile img {
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.ImageProfile img:hover {
  transform: scale(1.2);
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .HeaderTitle {
    font-size: 24px;
  }
  
  .FooterTitle {
    font-size: 20px;
  }
  
  .FooterContact {
    font-size: 16px;
  }
}
